@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
:root{
    --bg:#ff5f38;
}
@font-face{
    font-family: Reef;
    src: url('NBInternationalProBoo.woff2'), url('NBInternationalProBoo.woff2') format('woff2');}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
}
a,button{
    border: none;
    outline: none;
    -webkit-tap-highlight-color:transparent;
    background-color: transparent;
    text-decoration: none;
    font-weight: unset;

}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  
#intro-box{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color: black;
    z-index: 9;
    color:white;
    font-size: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#intro-text{
    opacity:0;
    display: none;
    text-align: center;
}
.char{
    transform: translateY(30px);
    transition: .5s ease-in-out;
    opacity: 0;
}
.page-1{
    height: 100vh;
    position: relative;
}
#play-reel{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color:var(--bg);
    z-index: -1;
    transform: translate(-50%,-50%) scale(0);
    pointer-events: none;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1788);
}
#title-text{
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #ffffff6b;;
    font-size: 18vh;
    width: 100%;
    text-transform: uppercase;
}
.page-1 video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -2;
}
nav{
    width: 100%;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    width: 180px;
    height: 60px;
}
nav img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
nav #menu-btn{
    border-bottom: 1px solid transparent;
    transition: .5s ease-in-out;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
    opacity: 0;
}

nav #menu-btn-ic{
    display: none;
}


nav .menus{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color:var(--bg);
    color: black;
}
#close-btn{
    position: fixed;
    top: 10px;
    right: 10px;
    border: 2px solid black;
    width: 70px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    display: none;
    align-items: center;
    z-index: 4;
    justify-content: center;
}
#close-btn:hover{
    background-color: #fff;
}
.menus_top{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
}
.menus_top .menus_topLeft{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3%;
}
.menus_top .menus_topLeft p{
    font-weight: 500;
    margin-bottom: 2px;
}
.menus_top .menus_topLeft .video_part{
    width: 300px;
    height: 250px;
    position: relative;
}
.menus_top .menus_topLeft .video_part img{
    width: 100%;
    object-fit: cover;
    height: 90%;
    border-radius: 6px;
    box-shadow:2px 4px 7px 5px rgba(0,0,0,0.17888);
}
.menus_top .menus_topLeft .video_part .video_options{
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menus_top .menus_topLeft .video_part .video_options p{
    font-size: 15px;
    font-weight: 400;
}
.menus_top .menus_topLeft .video_part .video_options button{
    font-size: 15px;
    cursor: pointer;
}
.menus_top .menus_topLeft .video_part .video_options button:hover{
    scale: .98;
    transition: .3s ease-in-out;
    color: antiquewhite;
} 

.menus_top ul{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 8%;
}
.menus_top ul li{
    list-style: none;
    font-weight: 500;
}
.menus_top ul li a{
    color: black;
    font-size: xx-large;
    letter-spacing: 1.2px;
    text-align: left;
    position: relative;
}
.menus_top ul li a::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: black;
    left: 0;
    transition: all .4s ease-in-out;
}

.menus_top ul li a:hover::before{
    width: 100%;
}

.menus_bottom{
    width: 100%;
    padding: 0 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 30px;
}
#menus_bottom_links_mobile{
    display: none;
}
.menus_bottom::before{
    content: '';
    position: absolute;
    width: 90%;
    text-align: center;
    height: 2px;
    top:-20px;
    background-color: black;
}
.menus_bottom a{
    color: black;
}
.menus_bottom a:hover{
    color: white;
}
.menus_bottom a:first-child{
    margin-right: 6px;
}
#play-reel-options{
    display: none;
}



/* Page-2 */

.page-2{
    /* color: #fff; */
    padding: 5% 3%;
    width: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.95));
}
.top_heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 0;
    font-size: 1.5em;
    position: relative;
    font-weight: 300;
    opacity: 1;
}
.top_heading h2{
    font-size: 1.5em;
    font-weight: 300;
}
.top_heading::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.363);
    border-radius: 1px;
    text-align: center;
    bottom: 12%;
}
.main_text{
    width: 100%;
    height: 100%;
    padding:3% 0;
    font-size: 3.5em;
    text-indent: 2%;
    opacity: 1;
    font-weight: 500;
}




/* Page-3 */

.page-3{
    width: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.95));
}

.service_top_heading{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 55vh;
}
.service_top_heading_small{
    font-size: 1em;
}
.service_top_heading_small span{
    padding: 5px;
    border-radius: 20%;
    background-color: black;
    color: white;
    font-size: .5em;
    letter-spacing: 1px;
}
.service_top_heading_main{
    font-size: 3em;  
    font-weight: 700;
    cursor: pointer;
    text-decoration: underline;
}
.service_top_heading_main:hover{
    transition: 2s ease-in-out;
    transform-origin: center;
}
.service_main{
    padding: 3%;
}
.service_main_top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
    font-weight: 400;
}
.service_main_top #join-btn{
    font-size: 1em;
    font-weight: 400;
    cursor:pointer;
}
.service_main_top #join-btn:hover{
    color: #ff5f38;
}
.service_scroller{
    max-width: 90rem;
    width: 100%;
    height: auto;
}

.text {
    font-family: inherit;
    font-weight: 700;
    line-height: inherit;
    text-rendering: optimizeLegibility;
}
.text-title {
    font-size: 1.25rem;
    color: var(--bg);
}

.paragraph {
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: inherit;
    margin: 0.25rem 0;
    color: #252a32;
    text-transform: unset;
    text-rendering: optimizeLegibility;
}

.truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.service_main .servive_scroller_main {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    padding: 1rem 0;
    cursor: default;
    overflow: scroll hidden;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    scroll-padding: 0px 1.25rem;
    scrollbar-width: none;
}
.service_main .servive_scroller_main::-webkit-scrollbar {
    display: none;
}
.service_main .servive_scroller_main.active {
    cursor: grab;
    cursor: -webkit-grab;
}
.service_main .servive_scroller_main .card {
    width: 16rem;
    height: auto;
    flex: 0 0 auto;
    margin: 0 0.75rem;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #252a32;
    background: #ffffff;
    box-shadow: 10px 8px 13px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.service_main .servive_scroller_main .card-image {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding-top: 110%;
}
.service_main .servive_scroller_main .card-image img.responsive {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    border-radius: 10px;
    object-fit: cover;
}
.service_main .servive_scroller_main .card-inner {
    width: 100%;
    height: auto;
    padding: 1rem;
}
.page-4{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.95));
    padding: 3%;
}

.joinball_box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#join-btn-r{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color:black;
    color: #fff;
    left:0;
    top:0;
    z-index: 1;
    transform:translate(-50%,-50%) scale(0);
    pointer-events: none;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1788);
}
.joinball_box video{
    width: 90%;
}
.joinball_text{
    position: absolute;
    text-align: center;
    max-width: 200px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    font-size: 3vh;
}
.page-5{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.95));
    padding: 3%;
}
#enquiry-btn{
    font-size: 1em;
    font-weight: 400;
    cursor:pointer;
}
#enquiry-btn:hover{
    color: #ff5f38;
}


@media only screen and (min-width: 541px) and (max-width: 1000px){
    #title-text{
        position: absolute;
        bottom: 0;
        text-align: center;
        color: #ffffff6b;;
        font-size: 10vh;
        width: 100%;
        text-transform: uppercase;
    }
    #menus_bottom_links{
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 2vh;
    }
    #menus_bottom_text{
        display: none !important;
    }
    .menus_top{
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
    }
    .menus_bottom{
        width: 100%;
        height: 30%;
        display: flex;
        align-items: center;
    }
    #menus_bottom_links_mobile{
        display: none !important;
    }
    .main_text{
        font-size: 2em;
    }
 }

@media (max-width: 540px) {

    nav #menu-btn-ic{
        border-bottom: 1px solid transparent;
        /* transition: .5s ease-in-out; */
        font-size: 1.3rem;
        cursor: pointer;
        color: white;
        display:flex;
        font-size: 3vh;
        transform: translateX(-100);
        opacity: 0;
    }

    .menus_topLeft,
    nav #menu-btn,
    #menus_bottom_text,
    #play-reel,
    #title-text{
        display: none !important;
    }
    .menus_top .menus_topRight{
        width: 100%;
    }
    #menus_bottom_links{
        display: none;
    }
    #menus_bottom_links_mobile{
        display: flex;
    }
    .menus_top{
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
    }
    .menus_bottom{
        width: 100%;
        height: 30%;
        display: flex;
        align-items: center;
    }

    #play-reel-options{
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 35vh;
        padding: 1% 3%;
    }
    .play_reel_options_left{
        height: 100%;
        width: 70%;
    }
    .play_reel_options_left img{
        object-fit: cover;
        height: 75%;
        width: 100%;
        border-radius: 5px;
        opacity: 0;
        transform: scale(0);
    }
    .play_reel_left_video_option{
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        font-size: 3vh;
        transform: translateY(30px);
    }
    .play_reel_left_video_option i{
        color: #ff5f38;
    }
    .play_reel_left_video_option button{
        font-size: 2.5vh;
        color:white;
        cursor: pointer;
    }
    .service_top_heading_small{
        margin-bottom: 10px;
    }
    .top_heading{
        font-size: .7em;
        padding: 5% 0;
    }
    .main_text{
        font-size: 1.3em;
        padding:10% 0;
    }
    .service_top_heading_main{
        font-size: 2em;
    }
    .service_main_top{
        font-size: .7em;
    }
    .service_main_top #join-btn{
        font-size: 1.2em;
    }
    .joinball_text{
        font-size: 2vh;
    }
 }